.contact-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;
        }

.contact-table-container {
            width: 90%;
            max-width: 1000px;
            margin: 2rem auto;
            padding: 0 20px;
            box-sizing: border-box;
            font-family: "Open Sans", Helvetica, sans-serif;
            }


            .contact-table th {
            background-color: #252732;
            color: white;
            text-align: center;
            font-weight: bold;
            padding: 12px;
            border: 1px solid #414141;
            font-size: 20px;
            }

            .contact-table td {
            padding: 15px 20px;
            border: 1px solid #414141 !important;
            font-weight: normal;
            text-align: left;
            }

        .contact-table tr:nth-child(even) {
            background-color: #f5f5f5;
        }

        .contact-table tr:hover {
            background-color: #eeeeee;
        }

        .contact-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            background: white;
            border: 2px solid #414141;
            table-layout: auto;
        }

            .contact-table {
            margin: 0 auto;
        }

.contact-heading {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Open Sans Condensed";
  text-align: center;
  position: relative;
  padding: 30px 0;
  color: #252732;
  width: 100%;
}

.contact-heading::before,
.contact-heading::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 8px;
  background-color: #1c1d25;
  width: 100vw;
  display: block;
  z-index: 1;
}

.contact-heading::before {
  top: 10px;
}

.contact-heading::after {
  bottom: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-table {
  margin: 0 auto;
}

.email-link {
  color: black;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}