.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
}

/* General styling for text blocks */
.text-block {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
}

/* Colors for each text block */
.who-we-are {
    background: #006ec7;
    color: white;
}

.what-we-do {
    background: #000000;
    color: white;
}

.how-we-do-it {
    background: #e8b511;
    color: #ffffff;
}

/* Styling for images */
.image-block {
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px solid #ccc;
}

.img-1 {
    background-image: url('https://wallpaperaccess.com/full/266471.jpg');
}

.img-2 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/036/185/730/non_2x/ai-generated-circuit-board-background-free-photo.jpg');
}

.img-3 {
    background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-yellow-technology-particles-hd-background-picture-image_1472836.jpg');
}

.about-grid h2 {
    margin: 0 0 0rem;
    font-size: 1.5rem;
}

.about-grid h2 span {
    font-weight: bold;
}

/* Mobile: stack into single column */
@media (max-width: 768px) {
    .about-grid {
        grid-template-columns: 1fr;
    }

    .image-block,
    .text-block {
        grid-column: 1;
    }
}

.image-block {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 300px;
}